includes:
  - ./extensions/general-extension.neon

parameters:
    strictRules:
            strictCalls: true
    exceptionRules:
        reportUnusedCatchesOfUncheckedExceptions: true
        reportUnusedCheckedThrowsInSubtypes: true
        reportCheckedThrowsInGlobalScope: true
        uncheckedExceptions:
            - LogicException
            - RuntimeException
    paths:
        - src
    level: 8
    ignoreErrors:
        -
          message: "#Class .+ implements generic interface PHPStan\\\\Rules\\\\Rule but does not specify its types#"
          paths:
            - src/*Rule.php
        -
          message: "#should return list<PHPStan\\\\Rules\\\\IdentifierRuleError> but returns array#"
          paths:
            - src/*Rule.php
        -
          message: "#Instanceof between .+ will always evaluate to false.#"
          path: src/PhpdocNotNeededRule.php
        -
          message: "#PHPStan\\\\Reflection\\\\MissingPropertyFromReflectionException is never thrown in the corresponding try block#"
          paths:
            - src/ConformityNullableVariableAndMethodsRule.php