includes:
  - vendor/kr0lik/phpstan-rules/extensions/general-extension.neon
  - vendor/kr0lik/phpstan-rules/extensions/symfony-extension.neon # For Symfony
  - vendor/kr0lik/phpstan-rules/extensions/laravel-extension.neon # For Laravel
