includes:
  - ./extensions/general-extension-74.neon
  - ./extensions/phpunit-extension.neon

parameters:
  checkGenericClassInNonGenericObjectType: false

  excludes_analyse:
    - tests
  ignoreErrors:
    -
      message: "#Instanceof between PhpParser\\\\Node and PhpParser\\\\Node\\\\Stmt\\\\ClassMethod will always evaluate to false.#"
      count: 1
      path: src/PhpdocNotNeededRule.php
    -
      message: "#Instanceof between PhpParser\\\\Node and PhpParser\\\\Node\\\\Stmt\\\\Function_ will always evaluate to false.#"
      count: 1
      path: src/PhpdocNotNeededRule.php
    -
      message: "#Instanceof between PhpParser\\\\Node and PhpParser\\\\Node\\\\Stmt\\\\Trait_ will always evaluate to false.#"
      count: 1
      path: src/PhpdocNotNeededRule.php
    -
      message: "#Instanceof between PhpParser\\\\Node and PhpParser\\\\Node\\\\Stmt\\\\Interface_ will always evaluate to false.#"
      count: 1
      path: src/PhpdocNotNeededRule.php
    -
      message: "#PHPStan\\\\Reflection\\\\MissingPropertyFromReflectionException is never thrown in the corresponding try block#"
      paths:
        - src/ConformityNullableVariableAndMethodsRule.php
    -
      message: '#Access to an undefined property PhpParser\\Node\\Expr\\Error|PhpParser\\Node\\Expr\\Variable::\$name\.#'
      path: src/ConformityNullableVariableAndMethodsRule.php
