includes:
      - %rootDir%/../../../vendor/ergebnis/phpstan-rules/rules.neon
      - %rootDir%/../../../vendor/phpstan/phpstan-strict-rules/rules.neon
      - %rootDir%/../../../vendor/pepakriz/phpstan-exception-rules/extension.neon
      - %rootDir%/../../../vendor/slam/phpstan-extensions/conf/slam-rules.neon
      - %rootDir%/../../../vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
      - %rootDir%/../../../vendor/phpstan/phpstan/conf/bleedingEdge.neon
      - %rootDir%/../../../vendor/shipmonk/phpstan-rules/rules.neon

services:
      -
        class: kr0lik\PHPStanRules\VariableInConditionRule
        tags: [phpstan.rules.rule]
      -
        class: kr0lik\PHPStanRules\ConformityNullableVariableAndMethodsRule
        tags: [phpstan.rules.rule]
      -
        class: kr0lik\PHPStanRules\BoolPropertyHasPrefixRule
        tags: [phpstan.rules.rule]
      -
        class: kr0lik\PHPStanRules\PhpdocNotNeededRule
        tags: [phpstan.rules.rule]
      -
        class: kr0lik\PHPStanRules\AssignVariableInReturnRule
        tags: [phpstan.rules.rule]
parameters:
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: true
    checkBenevolentUnionTypes: true
    reportWrongPhpDocTypeInVarTag: true
    reportAnyTypeWideningInVarTag: true
    checkMissingCallableSignature: true
    exceptionRules:
        reportUnusedCatchesOfUncheckedExceptions: true
        reportUnusedCheckedThrowsInSubtypes: true
        reportCheckedThrowsInGlobalScope: true
        uncheckedExceptions:
            - LogicException
            - RuntimeException
    shipmonkRules:
         forbidVariableTypeOverwriting:
             enabled: false
         forbidUnusedMatchResult:
             enabled: false
         forbidCheckedExceptionInCallable:
             enabled: false
         forbidCheckedExceptionInYieldingMethod:
             enabled: false
         enforceReadonlyPublicProperty:
             enabled: false
         enforceListReturn:
             enabled: false
         forbidMatchDefaultArmForEnums:
             enabled: false
    featureToggles:
         varTagType: false
    ergebnis:
         noExtends:
             enabled: false
         noNullableReturnTypeDeclaration:
             enabled: false
         finalInAbstractClass:
         	 enabled: false
         final:
         	 enabled: false
         noParameterWithNullableTypeDeclaration:
             enabled: false
         noParameterWithNullDefaultValue:
         	 enabled: false